{% load static %}
{% load humanize %}
<header class="bg-white shadow-md sticky top-0 z-40">
  <div class="max-w-7xl mx-auto px-6 lg:px-8">
    <div class="flex items-center justify-between h-16 gap-6">
      <div class="flex-shrink-0">
          <a href="{% if user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'home' %}{% endif %}" class="flex items-center space-x-2">
            <img src="{% static 'img/Prisma.svg' %}" alt="Logo de FinanzasApp" class="h-18 w-auto">
          </a>
      </div>
      <nav class="hidden md:flex flex-1">
        <div class="flex space-x-6 text-gray-700">
          {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="hover:text-indigo-600 transition-colors duration-200 text-sm font-medium">Dashboard</a>
            <a href="{% url 'lista_transacciones' %}" class="hover:text-indigo-600 transition-colors duration-200 text-sm font-medium">Transacciones</a>
            <a href="{% url 'lista_inversiones' %}" class="hover:text-indigo-600 transition-colors duration-200 text-sm font-medium">Inversiones</a>
            <a href="#" class="hover:text-indigo-600 transition-colors duration-200 text-sm font-medium">Deudas</a>
            <!--<a href="#" class="hover:text-indigo-600 transition-colors duration-200 text-sm font-medium">Mi Suscripción</a>-->
          {% else %}
            <a href="{% url 'registro_usuarios' %}" class="hover:text-indigo-600 transition-colors duration-200 text-sm font-medium">Registrarse</a>
            <a href="{% url 'login' %}" class="bg-indigo-600 text-white hover:bg-indigo-700 font-semibold px-4 py-2 rounded-md text-sm shadow-md transition-all duration-200">Iniciar Sesión</a>
          {% endif %}
        </div>
      </nav>
     {% if user.is_authenticated %}
      <div class="hidden md:flex items-center ml-4">
        <div class="relative inline-block text-left">
          <div>
            <button type="button" id="profile-menu-button" class="p-2 rounded-full text-gray-600 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition cursor-pointer">
              <span class="sr-only">Abrir menú de usuario</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </button>
          </div>
          <div id="profile-menu" class="hidden absolute right-0 mt-2 w-48 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <div class="py-1" role="none">
              <a href="{% url 'gestionar_suscripcion' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Mi Suscripción</a>
              <form action="{% url 'logout' %}" method="post" class="inline">
                {% csrf_token %}
                <button type="submit" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                  Cerrar Sesión
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="-mr-2 flex md:hidden">
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-500 hover:text-gray-800 hover:bg-gray-100 focus:outline-none">
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

    </div>
  </div>
</header>