<option value="">Seleccionar categoría...</option>
<option>Comida</option>
<option>Transporte</option>
<option>Supermercado</option>
<option>Entretenimiento</option>
<option>Servicios</option>
<option>Nomina</option>
<option>Mascotas</option>
<option>Ahorro</option>
<option>Suscripciones</option>
<option>Salud</option>
<option>Educación</option>
<option>Impuestos</option>
<option>Inversion</option>
<option>Tiendas de conveniencia</option>
<option>Ropa</option>
<option>Hogar</option>
<option>Viajes</option>
<option>Regalos</option>
<option>Gastos varios</option>
<option>Tecnología</option>
<option>Deudas</option>
<option>Novia/Novio</option>
<option>Gasolina</option>
<option>Otro</option>