{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Finanzas Personales</title>

    <!-- Load favicon 
    <link
      rel="shortcut icon"
      type="image/png"
      href="#"
    />-->

    <!-- Include your CSS files here 
    <link
      rel="preload"
      as="style"
      href="#"
      onload="this.rel = 'stylesheet'"
    />-->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap" rel="stylesheet"/>
    <link rel="preload" as="style" href="{% static 'css/styles.css' %}" onload="this.rel = 'stylesheet'">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </head>

  <body class="bg-gray-50">
    {% block header %}
        {% include 'partials/_header.html' %}
    {% endblock header %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    {# --- AÑADE ESTE BLOQUE AL FINAL DEL ARCHIVO --- #}
    {% block javascript %}{% endblock javascript %}
  </body>
</html>