{% extends 'base.html' %}
{% load humanize %}
{% block title %}Dashboard de Finanzas Personales | Tu Resumen Financiero{% endblock %}
{% block content %}
{% load static %}

<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold text-gray-800">Tu Resumen Financiero</h1>
    </div>
    <div class="bg-white p-4 rounded-xl shadow-lg mb-8">
        <form method="GET" action="" class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
            <div class="flex items-center space-x-2">
                <label for="month" class="text-sm font-medium text-gray-700">Mes:</label>
                <select name="month" id="month" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    {% for m in months %}
                        <option value="{{ m }}" {% if m == selected_month %}selected{% endif %}>{{ m }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="flex items-center space-x-2">
                <label for="year" class="text-sm font-medium text-gray-700">Año:</label>
                <select name="year" id="year" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    {% for y in years %}
                        <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="w-full sm:w-auto flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Filtrar
            </button>
        </form>
    </div>

    <div class="mb-12">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">Resumen del Mes</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
            <!--Ingresos del Mes-->
            <div class="bg-white p-6 rounded-xl shadow-lg">
                <p class="text-sm font-medium text-gray-500">Ingresos del Mes</p>
                <p class="text-2xl font-bold text-gray-900">${{ ingresos|floatformat:2 | intcomma}}</p>

            </div>
            <!--Gastos del Mes-->
            <div class="bg-white p-6 rounded-xl shadow-lg">
                <p class="text-sm font-medium text-gray-500">Gastos del Mes</p>
                <p class="text-2xl font-bold text-gray-900">${{ gastos|floatformat:2 | intcomma}}</p>
            </div>
            <!--Disponible en el banco-->
            <div class="bg-white p-6 rounded-xl shadow-lg">
                <p class="text-sm font-medium text-gray-500">Disponible en Banco</p>
                <p class="text-2xl font-bold text-gray-900">${{ disponible_banco|floatformat:2 | intcomma}}</p>
            </div>
            <!--Balance del Mes-->
            <div class="bg-blue-50 border-2 border-blue-200 p-6 rounded-xl shadow-lg"> 
                <p class="text-sm font-medium text-blue-700">Balance del Mes</p>
                <p class="text-3xl font-bold {% if balance >= 0 %}text-gray-900{% else %}text-red-600{% endif %}">${{ balance|floatformat:2 | intcomma}}</p>
            </div>
            <div class="bg-white p-6 rounded-xl shadow-lg col-span-2 row-span-2">
                <h3 class="text-lg font-semibold text-gray-700 mb-4">Gastos por Categoría</h3>
                    <div class="relative h-170">
                        <canvas id="gastosPorCategoriaChart"
                            data-url="{% url 'api_datos_gastos' %}?year={{ selected_year }}&month={{ selected_month }}">
                        </canvas>
                    </div>
            </div>
            <div class="bg-white p-6 rounded-xl shadow-lg col-span-2 row-span-2 col-start-3">
                <h3 class="text-lg font-semibold text-gray-700 mb-4">Ingresos vs Gastos</h3>
                    <div class="relative h-170">
                        <canvas id="flujoDeDineroChart"
                            data-url="{% url 'api_flujo_dinero' %}?year={{ selected_year }}&month={{ selected_month }}">
                        </canvas>
                    </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">Mi Patrimonio</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="bg-white p-6 rounded-xl shadow-lg">
                <p class="text-sm font-medium text-gray-500">Ahorro</p>
                <p class="text-2xl font-bold text-gray-900">${{ ahorro|floatformat:2 | intcomma}}</p>
            </div>
            <div class="bg-white p-6 rounded-xl shadow-lg">
                <p class="text-sm font-medium text-gray-500">Inversion Inicial (USD)</p>
                <p class="text-2xl font-bold text-gray-900">${{ inversion_inicial|floatformat:2 | intcomma}}</p>
            </div>
            <div class="bg-white p-6 rounded-xl shadow-lg">
                <p class="text-sm font-medium text-gray-500">Inversion Actual (USD)</p>
                <p class="text-2xl font-bold text-gray-900">${{ inversion_actual|floatformat:2 | intcomma}}</p>
            </div>
            <div class="bg-white p-6 rounded-xl shadow-lg col-span-3 row-span-2 row-start-2">
                <h3 class="text-lg font-semibold text-gray-700 mb-4">Inversion</h3>
                <div class="relative h-170">
                    <canvas id="investmentLineChart"
                        data-url="{% url 'api_ganancias_mensuales' %}">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascript %}
    <script src="{% static 'js/dashboard_charts.js' %}"></script>
{% endblock javascript %}
{% endblock %}